!!! html
%html
  %head
    %title Edifice
    %link{ :href => "/bootstrap/css/bootstrap.css", :rel => "stylesheet" }
    %link{ :href => "/css/main.css", :rel => "stylesheet" }
    %script{ :src => "/js/OpenLayers.js" }
    %script{ :src => "/js/wicker_park.js" }
    %script{ :src => "/js/jquery-1.7.2.min.js" }
  %body
    .map#map
